---
const pageTitle = "Zorus | Filtering & CyberSight";

import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import Section from "../components/Section.astro";

import abstractWaveUrl from "../assets/abstract-wave.svg?url";
import BrianDarcy from "../assets/brian-darcy.png";
import boxCornerUrl from "../assets/box-corner.svg?url";
import checkboxUrl from "../assets/checkbox-gradient.svg?url";
import ChannelProgramQ12024 from "../assets/channel-program-q1-24.png";
import ChannelProgramQ22024 from "../assets/channel-program-q2-24.png";
import ChannelProgramQ32024 from "../assets/channel-program-q3-24.png";
import ChannelProgramQ42024 from "../assets/channel-program-q4-24.png";
import GridBG from "../assets/grid-bg.png";
import iconArrowRightUrl from "../assets/icon--arrow-right.svg?url";
import iconClockUrl from "../assets/icon--clock.png";
import iconDeployUrl from "../assets/icon--deploy.svg?url";
import iconEndpointProtectionUrl from "../assets/icon--endpoint-protection.svg?url";
import iconIdentifyUrl from "../assets/icon--identify.svg?url";
import iconReferralUrl from "../assets/icon--referral.svg?url";
import iconRevenueGrowthUrl from "../assets/icon--revenue-growth.svg?url";
import iconScalingUrl from "../assets/icon--scaling.svg?url";
import iconSupportUrl from "../assets/icon--support.svg?url";
import LisaNiekamp from "../assets/lisa-niekamp-urwin.png";
import Button from "../components/Button.astro";
import MSPITCard from "../components/MSPITCard.astro";
---

<Layout title={pageTitle}>
  <main class="overflow-x-hidden">
    <Section className="grid-bg relative">
      <div
        class="container mx-auto max-w-7xl flex items-center flex-col px-4 md:px-6"
      >
        <h1
          class="text-4xl md:text-5xl mb-6 font-semibold w-full font-monospace lg:max-w-4xl md:leading-tight text-center leading-tight"
          data-sal="slide-down"
          data-sal-duration="600"
        >
          Block evolving threats with cybersecurity that refuses to let you fall
          behind
        </h1>
        <div
          class="mb-10 w-full lg:max-w-3xl"
          data-sal="slide-down"
          data-sal-duration="600"
          data-sal-delay="200"
        >
          <ul class="flex flex-col gap-4 items-center list-unstyled">
            <li class="flex items-center gap-2">
              <img alt="checkbox" src={checkboxUrl} />
              <p class="text-lg md:text-2xl">
                DNS filtering without the DNS changes
              </p>
            </li>
            <li class="flex items-center gap-2">
              <img alt="checkbox" src={checkboxUrl} />
              <p class="text-lg md:text-2xl">
                Spot risky behaviors with user analytics
              </p>
            </li>
            <li class="flex items-center gap-2">
              <img alt="checkbox" src={checkboxUrl} />
              <p class="text-lg md:text-2xl">
                Isolate devices with Zero-trust isolation
              </p>
            </li>
            <li class="flex items-center gap-2">
              <img alt="checkbox" src={checkboxUrl} />
              <p class="text-lg md:text-2xl">Geo IP & network filtering</p>
            </li>
            <li class="flex items-center gap-2">
              <img alt="checkbox" src={checkboxUrl} />
              <p class="text-lg md:text-2xl">SaaS inventory & usage</p>
            </li>
          </ul>
        </div>
        <div
          class="flex flex-col items-center space-y-4"
          data-sal="slide-down"
          data-sal-duration="600"
          data-sal-delay="400"
        >
          <a href="/book-a-demo">
            <Button
              class="btn glitch demo inline-block btn-solid uppercase"
              label="See how Zorus can help you"
            />
          </a>
          <span class="font-light text-[#b6c8dd] text-sm"
            >No-pressure demo. Free two-week trial.</span
          >
        </div>
      </div>
    </Section>

    <Section>
      <MSPITCard />
    </Section>

    <Section>
      <div class="container mx-auto max-w-7xl px-4 md:px-6">
        <div class="flex">
          <div class="w-full mx-auto text-center mb-8">
            <h2
              class="font-monospace font-semibold text-4xl mb-6 w-full mx-auto md:max-w-xl lg:max-w-3xl md:leading-tight text-center leading-tight"
            >
              Trusted by cybersecurity experts. Leading the way in DNS
              protection.
            </h2>
            <div class="h-0.5 max-w-40 bg-[#00f0ff] my-6 mx-auto"></div>
          </div>
        </div>

        <div
          class="md:flex-wrap flex flex-col mx-auto gap-y-10 gap-x-10 items-center justify-center md:flex-row md:w-2/3 lg:w-full"
        >
          <Image
            src={ChannelProgramQ12024}
            class="mx-auto w-[140px] md:mx-0"
            alt="Channel Program Q1 2024"
          />
          <Image
            src={ChannelProgramQ22024}
            class="mx-auto w-[140px] md:mx-0"
            alt="Channel Program Q2 2024"
          />
          <Image
            src={ChannelProgramQ32024}
            class="mx-auto w-[140px] md:mx-0"
            alt="Channel Program Q3 2024"
          />
          <Image
            src={ChannelProgramQ42024}
            class="mx-auto w-[140px] md:mx-0"
            alt="Channel Program Q4 2024"
          />
        </div>
      </div>
    </Section>

    <!------------------- CUT --------------------->
    <Section class="cut--right overflow-visible">
      <div class="container mx-auto max-w-7xl px-4 md:px-6">
        <div class="flex">
          <div class="w-full mx-auto text-center">
            <h2
              class="font-monospace font-semibold text-4xl mb-6 w-full mx-auto md:max-w-lg lg:max-w-lg md:leading-tight text-center leading-tight"
            >
              DNS filtering doesn’t have to be a drag
            </h2>
            <div class="h-0.5 max-w-40 bg-[#00f0ff] my-6 mx-auto"></div>
          </div>
        </div>
        <div class="flex text-center">
          <div class="w-full md:max-w-xl lg:w-6/12 mx-auto space-y-4">
            <p class="text-lg">
              Until now, DNS filtering was a total headache. You had to spend
              hours changing DNS settings in Every. Single. Router.
            </p>
            <p class="text-lg">
              There was always a concern you’d break your client’s internet (and
              have to deal with a million frantic phone calls.).
            </p>
            <p class="text-lg">
              And once the filter was in place, it was noisy — generating a ton
              of support tickets because it didn’t play nice with your other
              tools.
            </p>
          </div>
        </div>
      </div>
    </Section>

    <Section>
      <div class="container mx-auto max-w-7xl px-4 md:px-6">
        <div
          class="testimonial-block mx-auto py-10 px-5 md:p-20 relative max-w-[900px]"
        >
          <img
            src={abstractWaveUrl}
            alt="abstract wave"
            class="absolute bottom-0 end-0 testimonial--bg-img"
          />
          <h2 class="font-semibold text-2xl font-monospace mb-10">
            “Zorus is easy to deploy and easy to manage. It doesn’t break your
            environment, VPNs, Active Directory or custom DNS implementations
            like traditional DNS filtering. It’s also very cost-effective.”
          </h2>
          <div class="testimonial--profile flex items-center relative z-3">
            <Image
              src={BrianDarcy}
              alt="Mike Giovaninni, Netwerks"
              class="w-20"
            />
            <div class="ml-4">
              <p class="mb-1">Brian D’Arcy, CMIT Solutions</p>
              <a
                href="/2023/06/26/cmit-solutions-fills-a-key-need/"
                class="btn link font-semibold text-[#00f0ff] font-monospace uppercase"
                >Read Brian's client success story</a
              >
            </div>
          </div>
        </div>
      </div>
    </Section>

    <!------------------- ACHIEVEMENTS --------------------->
    <Section>
      <div>
        <div class="container mx-auto max-w-7xl px-4 md:px-6">
          <h2
            class="text-center mx-auto font-monospace font-semibold text-4xl leading-tight mb-12 lg:max-w-3xl md:leading-tight"
          >
            Zorus Filtering with CyberSight, DNS protection for the modern era
          </h2>
          <div
            class="grid grid-cols-1 md:grid-cols-3 justify-items-between gap-y-12 md:gap-y-0 md:gap-x-5 lg:gap-x-10"
          >
            <div
              class="bg-gradient-to-br from-[#12051e] to-[#030307] border-[#14152b] relative w-full"
              data-sal="slide-left"
              data-sal-duration="600"
            >
              <img
                src={boxCornerUrl}
                alt="box corner decoration"
                class="absolute -top-[3px] -left-[3px]"
              />
              <img
                src={boxCornerUrl}
                alt="box corner decoration"
                class="absolute -top-[3px] -right-[3px] -scale-x-100"
              />
              <img
                src={boxCornerUrl}
                alt="box corner decoration"
                class="absolute -bottom-[3px] -left-[3px] -scale-y-100"
              />
              <img
                src={boxCornerUrl}
                alt="box corner decoration"
                class="absolute -bottom-[3px] -right-[3px] -scale-y-100 -scale-x-100"
              />
              <Image src={GridBG} alt="" class="absolute w-full z-10" />
              <div class="p-10 z-20 relative">
                <Image
                  src={iconDeployUrl}
                  alt=""
                  width="72"
                  height="72"
                  class="mb-10"
                />
                <div>
                  <h4 class="mb-4 font-semibold text-2xl font-monospace">
                    Device-based
                  </h4>filtering
                </div>
                <p class="text-lg">
                  No DNS changes or reporting required. (Hallelujah!!) Save up
                  to 45 minutes per installation.
                </p>
              </div>
            </div>

            <div
              class="bg-gradient-to-br from-[#12051e] to-[#030307] border-[#14152b] relative w-full"
              data-sal="slide-left"
              data-sal-duration="600"
            >
              <img
                src={boxCornerUrl}
                alt="box corner decoration"
                class="absolute -top-[3px] -left-[3px]"
              />
              <img
                src={boxCornerUrl}
                alt="box corner decoration"
                class="absolute -top-[3px] -right-[3px] -scale-x-100"
              />
              <img
                src={boxCornerUrl}
                alt="box corner decoration"
                class="absolute -bottom-[3px] -left-[3px] -scale-y-100"
              />
              <img
                src={boxCornerUrl}
                alt="box corner decoration"
                class="absolute -bottom-[3px] -right-[3px] -scale-y-100 -scale-x-100"
              />
              <Image src={GridBG} alt="" class="absolute w-full z-10" />
              <div class="p-10 z-20 relative">
                <Image
                  src={iconSupportUrl}
                  alt=""
                  width="72"
                  height="72"
                  class="mb-10"
                />
                <div>
                  <h4 class="mb-4 font-semibold text-2xl font-monospace">
                    Easy to deploy
                  </h4>and use
                </div>
                <p class="text-lg">
                  Spend less time learning and managing a new tool — and more
                  time focused on your clients’ success.
                </p>
              </div>
            </div>

            <div
              class="bg-gradient-to-br from-[#12051e] to-[#030307] border-[#14152b] relative w-full"
              data-sal="slide-left"
              data-sal-duration="600"
            >
              <img
                src={boxCornerUrl}
                alt="box corner decoration"
                class="absolute -top-[3px] -left-[3px]"
              />
              <img
                src={boxCornerUrl}
                alt="box corner decoration"
                class="absolute -top-[3px] -right-[3px] -scale-x-100"
              />
              <img
                src={boxCornerUrl}
                alt="box corner decoration"
                class="absolute -bottom-[3px] -left-[3px] -scale-y-100"
              />
              <img
                src={boxCornerUrl}
                alt="box corner decoration"
                class="absolute -bottom-[3px] -right-[3px] -scale-y-100 -scale-x-100"
              />
              <Image src={GridBG} alt="" class="absolute w-full z-10" />
              <div class="p-10 z-20 relative">
                <Image
                  src={iconClockUrl}
                  alt="clock icon"
                  class="mb-10 w-[72px] h-[72px]"
                />
                <div>
                  <h4 class="mb-4 font-semibold text-2xl font-monospace">
                    Get in.
                  </h4>Get out.
                </div>
                <p class="text-lg">
                  Our global policy makes it easy to make mass changes and
                  manage all of your customers at once.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </Section>

    <Section>
      <div class="container mx-auto max-w-7xl px-4 md:px-6">
        <div class="testimonial-block relative">
          <img
            src={abstractWaveUrl}
            alt="abstract wave"
            class="absolute bottom-0 end-0 testimonial--bg-img"
          />
          <h2 class="font-semibold font-monospace">
            “Zorus is straightforward and simple. I did my due diligence with
            WebTitan and I thought I knew it, but there were so many gotchas!
            Zorus is clean and just works."
          </h2>
          <div class="testimonial--profile flex items-center relative z-3">
            <img
              src="<?php echo get_theme_file_uri('/images/luc-cole-min.png') ?>"
              alt="Mike Giovaninni, Netwerks"
              class="testimonial--profile-pic"
            />
            <div class="ml-4">
              <p>Luc Cole, Thatch Computer Consulting</p>
              <a href="/blog" class="btn link font-semibold"
                >Read more MSP success stories</a
              >
            </div>
          </div>
        </div>
      </div>
    </Section>

    <Section>
      <div class="container mx-auto max-w-7xl px-4 md:px-6">
        <div class="flex">
          <div class="w-full lg:w-8/12 col mx-auto text-center">
            <h2
              class="mb-6 font-monospace font-semibold text-4xl leading-tight md:leading-tight break-words"
            >
              Get way more than *just* DNS filtering. Because you’re way more
              than *just* IT support.
            </h2>
          </div>
        </div>
        <div class="flex mb-20 md:mb-12">
          <div class="md:w-11/12 lg:w-7/12 mx-auto text-center space-y-2 mb-10">
            <p class="text-lg">
              Keep clients coming back for more with the insights generated by
              CyberSight.
            </p>
            <p class="text-lg">
              This technology, exclusive to Zorus, analyzes how users spend time
              in thick client and SaaS applications.
            </p>
            <p class="text-lg">
              Use these insights to save clients time, money and stress.
            </p>
          </div>
        </div>
        <div
          class="flex mb-20 md:mb-12"
          data-sal="slide-up"
          data-sal-duration="600"
        >
          <div class="w-full lg:w-6/12 mx-auto">
            <div
              class="flex flex-col md:flex-row text-center md:text-start md:space-x-8 items-center"
            >
              <Image
                src={iconEndpointProtectionUrl}
                alt="icon"
                class="mb-10 md:mb-0"
                width="72"
                height="72"
              />
              <div>
                <h4 class="mb-2 text-2xl font-semibold font-monospace">
                  Protect clients from bad actors
                </h4>
                <p class="text-lg">
                  Get detailed reports you can share with clients about
                  potential breaches and threats. Prove your value by
                  demonstrating the risks they face every day.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div
          class="flex mb-20 md:mb-12"
          data-sal="slide-up"
          data-sal-duration="600"
          data-sal-delay="200"
        >
          <div class="w-full lg:w-6/12 mx-auto">
            <div
              class="flex flex-col md:flex-row text-center md:text-start md:space-x-8 items-center"
            >
              <Image
                src={iconIdentifyUrl}
                alt="icon"
                class="mb-10 md:mb-0"
                width="72"
                height="72"
              />
              <div>
                <h4 class="mb-2 text-2xl font-semibold font-monospace">
                  Keep ‘em in compliance
                </h4>
                <p class="text-lg">
                  Get complete visibility into all of the tech in your client’s
                  environment. Easily spot Shadow IT. Ensure every tool complies
                  with programs like HIPAA, CMMC, etc.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div
          class="flex"
          data-sal="slide-up"
          data-sal-duration="600"
          data-sal-delay="400"
        >
          <div class="w-full lg:w-6/12 mx-auto">
            <div
              class="flex flex-col md:flex-row text-center md:text-start md:space-x-8 items-center"
            >
              <Image
                src={iconRevenueGrowthUrl}
                alt="icon"
                class="mb-10 md:mb-0"
                width="72"
                height="72"
              />
              <div>
                <h4 class="mb-2 text-2xl font-semibold font-monospace">
                  Maximize their tech ROI
                </h4>
                <p class="text-lg">
                  Help clients save money on unnecessary licenses. Show clients
                  which tools are adding to their productivity — and which
                  they’re just wasting money on.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </Section>

    <Section>
      <div class="container mx-auto max-w-7xl px-4 md:px-6">
        <div class="mx-auto text-center mb-10 md:mb-20">
          <h2
            class="font-monospace font-semibold text-4xl leading-tight md:leading-tight"
          >
            Why MSPs like you love Zorus
          </h2>
          <div class="h-0.5 max-w-40 bg-[#00f0ff] my-6 mx-auto"></div>
        </div>

        <!--- Part 1 --->
        <div
          class="grid grid-cols-1 md:grid-cols-2 items-center space-y-10 md:space-y-0 md:gap-x-20 pb-20"
        >
          <div class="flex flex-col justify-items-center relative">
            <h2 class="mb-6 font-semibold text-3xl font-monospace max-w-lg">
              Plays nice with the tools you use every day
            </h2>
            <div class="border-l-2 pl-6 border-[#00f0ff] mb-6 md:max-w-lg">
              <p class="text-lg mb-4">
                Say goodbye to the hassles of complex deployment and management.
                Zorus integrates seamlessly with the channel’s top vendors and
                solutions.
              </p>
              <p class="text-lg">
                No more extra configurations. No more DNS changes. No more
                stress. We've simplified security for you, ensuring seamless
                operations and happier clients.
              </p>
            </div>
            <a
              href="/book-a-live-demo"
              class="link flex items-center gap-x-3 capitalize font-semibold hover:bg-transparent hover:gap-4"
            >
              DISCOVER ZORUS FILTERING
              <Image
                width="16"
                height="16"
                src={iconArrowRightUrl}
                role="presentation"
                alt="arrow image"
              />
            </a>
          </div>
          <div>
            <div class="slider">
              <div class="relative items-center overflow-hidden">
                <div class="marquee flex min-w-max">
                  <div class="flex min-w-max items-center opacity-100">
                    <img
                      width="200"
                      src="<?php echo get_theme_file_uri('/images/datto.png') ?>"
                      alt="datto"
                      class="m-10 max-w-full"
                    /><img
                      width="200"
                      src="<?php echo get_theme_file_uri('/images/automate.png') ?>"
                      alt="Automate"
                      class="m-10 max-w-full"
                    /><img
                      width="200"
                      src="<?php echo get_theme_file_uri('/images/managed.png') ?>"
                      alt="Managed"
                      class="m-10 max-w-full"
                    /><img
                      width="200"
                      src="<?php echo get_theme_file_uri('/images/datto.png') ?>"
                      alt="datto"
                      class="m-10 max-w-full"
                    /><img
                      width="200"
                      src="<?php echo get_theme_file_uri('/images/automate.png') ?>"
                      alt="Automate"
                      class="m-10 max-w-full"
                    /><img
                      width="200"
                      src="<?php echo get_theme_file_uri('/images/managed.png') ?>"
                      alt="Managed"
                      class="m-10 max-w-full"
                    />
                  </div>
                  <div class="flex min-w-max items-center opacity-100">
                    <img
                      width="200"
                      src="<?php echo get_theme_file_uri('/images/datto.png') ?>"
                      alt="datto"
                      class="m-10 max-w-full"
                    /><img
                      width="200"
                      src="<?php echo get_theme_file_uri('/images/automate.png') ?>"
                      alt="Automate"
                      class="m-10 max-w-full"
                    /><img
                      width="200"
                      src="<?php echo get_theme_file_uri('/images/managed.png') ?>"
                      alt="Managed"
                      class="m-10 max-w-full"
                    /><img
                      width="200"
                      src="<?php echo get_theme_file_uri('/images/datto.png') ?>"
                      alt="datto"
                      class="m-10 max-w-full"
                    /><img
                      width="200"
                      src="<?php echo get_theme_file_uri('/images/automate.png') ?>"
                      alt="Automate"
                      class="m-10 max-w-full"
                    /><img
                      width="200"
                      src="<?php echo get_theme_file_uri('/images/managed.png') ?>"
                      alt="Managed"
                      class="m-10 max-w-full"
                    />
                  </div>
                </div>
                <div class="marquee2 flex min-w-max">
                  <div class="flex min-w-max items-center opacity-100">
                    <img
                      width="200"
                      src="<?php echo get_theme_file_uri('/images/kaseya.png') ?>"
                      alt="Kaseya"
                      class="m-10 max-w-full"
                    /><img
                      width="200"
                      src="<?php echo get_theme_file_uri('/images/syncro.png') ?>"
                      alt="Syncro"
                      class="m-10 max-w-full"
                    /><img
                      width="200"
                      src="<?php echo get_theme_file_uri('/images/gradient.png') ?>"
                      alt="Gradient MSP"
                      class="m-10 max-w-full"
                    /><img
                      width="200"
                      src="<?php echo get_theme_file_uri('/images/kaseya.png') ?>"
                      alt="Kaseya"
                      class="m-10 max-w-full"
                    /><img
                      width="200"
                      src="<?php echo get_theme_file_uri('/images/syncro.png') ?>"
                      alt="Syncro"
                      class="m-10 max-w-full"
                    /><img
                      width="200"
                      src="<?php echo get_theme_file_uri('/images/gradient.png') ?>"
                      alt="Gradient MSP"
                      class="m-10 max-w-full"
                    />
                  </div>
                  <div class="flex min-w-max items-center opacity-100">
                    <img
                      width="200"
                      src="<?php echo get_theme_file_uri('/images/kaseya.png') ?>"
                      alt="Kaseya"
                      class="m-10 max-w-full"
                    /><img
                      width="200"
                      src="<?php echo get_theme_file_uri('/images/syncro.png') ?>"
                      alt="Syncro"
                      class="m-10 max-w-full"
                    /><img
                      width="200"
                      src="<?php echo get_theme_file_uri('/images/gradient.png') ?>"
                      alt="Gradient MSP"
                      class="m-10 max-w-full"
                    /><img
                      width="200"
                      src="<?php echo get_theme_file_uri('/images/kaseya.png') ?>"
                      alt="Kaseya"
                      class="m-10 max-w-full"
                    /><img
                      width="200"
                      src="<?php echo get_theme_file_uri('/images/syncro.png') ?>"
                      alt="Syncro"
                      class="m-10 max-w-full"
                    /><img
                      width="200"
                      src="<?php echo get_theme_file_uri('/images/gradient.png') ?>"
                      alt="Gradient MSP"
                      class="m-10 max-w-full"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--- Part 2 --->
        <div class="grid grid-cols-1 md:grid-cols-2 items-center gap-x-20">
          <div class="order-2 md:order-1">
            <img
              loading="lazy"
              src="<?php echo get_theme_file_uri('/images/globe.svg') ?>"
              alt="integrations"
              class="w-full"
            />
          </div>
          <div
            class="lg:w-10/12 flex flex-col justify-items-center relative ml-auto order-1 md:order-2"
          >
            <h2 class="mb-6 font-semibold text-3xl font-monospace max-w-lg">
              Fast, friendly U.S.
            </h2>-based support
          </div>
          <div class="border-l-2 pl-6 border-[#00f0ff] mb-6 md:max-w-lg">
            <p class="mb-4 text-lg">
              Our U.S.-based support team is always ready to help you quickly
              resolve problems, minimize downtime and keep your clients happy.
            </p>
            <p class="text-lg">
              To quote our favorite Italian restaurant chain, “When you’re here,
              you’re family.”
            </p>
          </div>
          <a
            href="/book-a-live-demo"
            class="link flex items-center gap-x-3 capitalize font-semibold hover:bg-transparent hover:gap-4"
          >
            EXPLORE THE PLATFORM
            <Image
              width="16"
              height="16"
              src={iconArrowRightUrl}
              role="presentation"
              alt="arrow image"
            />
          </a>
        </div>
      </div>
    </Section>

    <Section class="arrow right overflow-visible">
      <img
        src="<?php echo get_theme_file_uri('/images/arrow.svg') ?>"
        alt=""
        role="presentation"
        class="w-full"
      />
    </Section>

    <Section>
      <div class="container mx-auto max-w-7xl px-4 md:px-6">
        <div class="testimonial-block relative">
          <img
            src={abstractWaveUrl}
            alt="abstract wave"
            class="absolute bottom-0 end-0 testimonial--bg-img"
          />
          <h2 class="font-semibold font-monospace">
            “Zorus support people are always a pleasure to work with. It’s not
            like that with the big software players. With Zorus, if I open a
            ticket, they’re on it."
          </h2>
          <div class="testimonial--profile flex items-center relative z-3">
            <img
              src="<?php echo get_theme_file_uri('/images/sean-lange.png') ?>"
              alt="Mike Giovaninni, Netwerks"
              class="testimonial--profile-pic"
            />
            <div class="ml-4">
              <p>Sean Lange, Spidernet Solutions</p>
              <a
                href="/2023/06/22/spidernet-selects-zorus/"
                class="btn link font-semibold"
                >Read Sean’s client success story</a
              >
            </div>
          </div>
        </div>
      </div>
    </Section>

    <Section>
      <div class="container mx-auto max-w-7xl px-4 md:px-6">
        <!--- Part 1 --->
        <div
          class="grid grid-cols-1 md:grid-cols-2 items-center gap-y-10 md:gap-y-0 md:gap-x-20 pb-20"
        >
          <div class="flex flex-col justify-items-center relative">
            <h2 class="mb-6 font-semibold text-3xl font-monospace max-w-lg">
              Brandable block pages, portal and more
            </h2>
            <div class="border-l-2 pl-6 border-[#00f0ff] mb-6 md:max-w-lg">
              <p class="text-lg mb-4">
                Your clients are yours. We make it easy to white-label our block
                pages, portal and more to fit your brand.
              </p>
              <p class="text-lg">Your clients will never know we’re here.</p>
            </div>
            <a
              href="/book-a-live-demo"
              class="link flex items-center gap-x-3 capitalize font-semibold hover:bg-transparent hover:gap-4"
            >
              EXPERIENCE CYBERSIGHT
              <Image
                width="16"
                height="16"
                src={iconArrowRightUrl}
                role="presentation"
                alt="arrow image"
              />
            </a>
          </div>
          <div>
            <img
              loading="lazy"
              src="<?php echo get_theme_file_uri('/images/white-labeling-dashboard.png') ?>"
              alt="integrations"
              class="w-full"
            />
          </div>
        </div>

        <!--- Part 2 --->
        <div
          class="grid grid-cols-1 md:grid-cols-2 items-center gap-y-10 md:gap-y-0 md:gap-x-20 pt-0 pb-20 md:py-20"
        >
          <div class="order-2 md:order-1">
            <img
              loading="lazy"
              src="<?php echo get_theme_file_uri('/images/dashboard-glass.png') ?>"
              alt="integrations"
              class="w-full"
            />
          </div>
          <div
            class="flex flex-col justify-items-center relative ml-auto order-1 md:order-2"
          >
            <h2 class="mb-6 font-semibold text-3xl font-monospace max-w-lg">
              Tools to promote<br />YOUR business
            </h2>
            <div class="border-l-2 pl-6 border-[#00f0ff] mb-6 md:max-w-lg">
              <p class="text-lg mb-4 md:max-w-lg">
                You’ll get a ton of flyers, presentations and other marketing
                materials you can customize to highlight your value to
                customers.
              </p>
              <p class="text-lg">
                Save time and stress attracting new customers and keep current
                ones coming back for more.
              </p>
            </div>
            <a
              href="/book-a-live-demo"
              class="link flex items-center gap-x-3 capitalize font-semibold hover:bg-transparent hover:gap-4"
            >
              LEARN MORE
              <Image
                width="16"
                height="16"
                src={iconArrowRightUrl}
                role="presentation"
                alt="arrow image"
              />
            </a>
          </div>
        </div>

        <!--- Part 3 --->
        <div
          class="grid grid-cols-1 md:grid-cols-2 items-center gap-y-10 md:gap-y-0 md:gap-x-20 pt-0 md:py-20"
        >
          <div class="flex flex-col justify-items-center relative">
            <h2 class="mb-6 font-semibold font-monospace text-3xl max-w-xl">
              Leaders, developers and engineers who care (for real)
            </h2>
            <div class="border-l-2 pl-6 border-[#00f0ff] mb-6 md:max-w-lg">
              <p class="text-lg md:max-w-lg mb-4">
                We are constantly looking for ways to better serve you and your
                customers.
              </p>
              <p class="text-lg md:max-w-lg">
                Our partners have direct access to our product and leadership
                team. Bring us your problems.We’ll try and build the solutions.
              </p>
            </div>
            <a
              href="/book-a-live-demo"
              class="link flex items-center gap-x-3 capitalize font-semibold hover:bg-transparent hover:gap-4"
              >DISCOVER CYBERSIGHT
              <Image
                width="16"
                height="16"
                src={iconArrowRightUrl}
                role="presentation"
                alt="arrow image"
              />
            </a>
          </div>
          <div>
            <img
              loading="lazy"
              src="<?php echo get_theme_file_uri('/images/zorus-family.png') ?>"
              alt="integrations"
              class="w-full"
            />
          </div>
        </div>
      </div>
    </Section>

    <!------------------- ARROW SECTION --------------------->
    <Section class="arrow left overflow-visible">
      <div>
        <img
          src="<?php echo get_theme_file_uri('/images/arrow.svg') ?>"
          alt=""
          role="presentation"
        />
      </div>
    </Section>

    <Section>
      <div class="container mx-auto max-w-7xl px-4 md:px-6">
        <div class="testimonial-block relative">
          <img
            src={abstractWaveUrl}
            alt="abstract wave"
            class="absolute bottom-0 end-0 testimonial--bg-img"
          />
          <h2 class="font-semibold font-monospace">
            “Zorus is the kind of vendor that is really your partner. They’re
            there to help you.”
          </h2>
          <div class="testimonial--profile flex items-center relative z-3">
            <Image
              src={LisaNiekamp}
              alt="Lisa Niekamp-Urwin, Tomorrow’s Technology Today"
              class="testimonial--profile-pic"
            />
            <div class="ml-4">
              <p>Lisa Niekamp-Urwin, Tomorflex’s Technology Today</p>
              <a
                href="/2023/07/10/tomorflexs-technology-today/"
                class="btn link font-semibold"
                >Read Lisa's client success story</a
              >
            </div>
          </div>
        </div>
      </div>
    </Section>

    <!---------- YOUTUBE SECTION ------------->
    <Section>
      <div class="container mx-auto max-w-7xl px-4 md:px-6">
        <h2
          class="lg:w-1/2 text-center mx-auto mb-6 font-monospace font-semibold text-4xl leading-tight md:leading-tight"
        >
          See how Zorus transformed this MSP's business
        </h2>
        <div class="md:w-11/12 lg:w-5/12 mx-auto text-center mb-10">
          <p class="text-lg mb-3">
            “We’re all skeptical of the latest shiny new thing. But Zorus
            delivers. I have peace of mind. My clients have peace of mind.”
          </p>
          <p class="text-lg">— Mike Giovaninni, Netwerks</p>
        </div>
        <div
          class="card card__testimonial rounded-lg bg-gradient-to-b from-[#05B4F4] to-[#660DAB] p-px testimonial__video-wrapper mx-auto"
        >
          <iframe
            class="rounded-lg w-[360px] h-[200px] sm:w-[534px] sm:h-[296px] md:w-[718px] md:h-[398px] lg:w-[974px] lg:h-[540px] xl:w-[1230px] xl:h-[683px]"
            src="https://www.youtube.com/embed/JZ_sSv_4xSU"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
        </div>
      </div>
    </Section>

    <!------------------- ASIDE SECTION ----------------------->
    <aside aria-labelledby="cta" class="cta">
      <div class="container mx-auto max-w-7xl px-4 md:px-6">
        <div class="lg:w-5/6 xl:w-2/3 mx-auto mb-6">
          <h2
            id="cta"
            class="text-center mx-auto mb-6 font-monospace font-semibold text-4xl leading-tight md:leading-tight"
          >
            Protect your clients. Protect your time. Protect your reputation.
          </h2>
          <p class="text-center text-lg">
            It’s easy with Zorus Filtering with CyberSight
          </p>
        </div>
        <div class="flex flex-col items-center space-y-4">
          <a href="/book-a-live-demo">
            <button class="btn glitch demo inline-block btn-solid uppercase"
              >BOOK YOUR DEMO</button
            >
          </a>
          <span class="font-light text-[#b6c8dd] text-sm"
            >(It’s fast, fun and no-pressure — we promise.)</span
          >
        </div>
      </div>
    </aside>
  </main>
</Layout>
