---
const pageTitle = "Zorus | Filtering & CyberSight";

import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";

import Button from "../components/Button.astro";
import MSPITCard from "../components/MSPITCard.astro";
import GridThreeCols from "../components/GridThreeCols.astro";
import Hero from "../components/Hero.astro";
import Awards from "../components/Awards.astro";
import AsideCTA from "../components/AsideCTA.astro";
import YoutubeTestimonial from "../components/YoutubeTestimonial.astro";
import TestimonialCard from "../components/TestimonialCard.astro";
import Container from "../components/Container.astro";
import NeonCorneredCard from "../components/NeonCorneredCard.astro";
import LogosSlider from "../components/LogosSlider.astro";
import ArrowDivider from "../components/ArrowDivider.astro";
import Section from "../components/Section.astro";

import LogoWhite from "../../public/logo--zorus--white.svg?url";
import abstractWaveUrl from "../assets/abstract-wave.svg?url";
import BrianDarcy from "../assets/brian-darcy.png";
import LucCole from "../assets/luc-cole-min.png";
import Globe from "../assets/globe.svg?url";
import iconArrowRightUrl from "../assets/icon--arrow-right.svg?url";
import iconClockUrl from "../assets/icon--clock.png?url";
import iconDeployUrl from "../assets/icon--deploy.svg?url";
import iconEndpointProtectionUrl from "../assets/icon--endpoint-protection.svg?url";
import iconIdentifyUrl from "../assets/icon--identify.svg?url";
import iconRevenueGrowthUrl from "../assets/icon--revenue-growth.svg?url";
import iconSupportUrl from "../assets/icon--support.svg?url";
import LisaNiekamp from "../assets/lisa-niekamp-urwin.png";
import SeanLange from "../assets/sean-lange.png";
import MarketingDashboard from "../assets/marketing-dashboard.png";
import WhiteLabelDashboard from "../assets/white-labeling-dashboard.png";
import ZorusFamily from "../assets/zorus-family.png";
import Main from "../components/Main.astro";
import Footer from "../components/Footer.astro";
---

<Layout title={pageTitle}>
  <Main>
    <Section className="grid-bg relative overflow-x-clip">
      <Hero />
    </Section>

    <Section>
      <MSPITCard />
    </Section>

    <Section>
      <Awards />
    </Section>

    <Section className="bg-cut-right overflow-visible relative">
      <div class="container mx-auto max-w-7xl px-4 md:px-6">
        <div class="flex">
          <div class="w-full mx-auto text-center">
            <h2
              class="font-monospace font-semibold text-4xl mb-6 w-full mx-auto md:max-w-lg lg:max-w-lg md:leading-tight text-center leading-tight"
            >
              DNS filtering doesn’t have to be a drag
            </h2>
            <div class="h-0.5 max-w-40 bg-[#00f0ff] my-6 mx-auto"></div>
          </div>
        </div>
        <div class="flex text-center">
          <div class="w-full md:max-w-xl lg:w-6/12 mx-auto space-y-4">
            <p class="text-lg">
              Until now, DNS filtering was a total headache. You had to spend
              hours changing DNS settings in Every. Single. Router.
            </p>
            <p class="text-lg">
              There was always a concern you’d break your client’s internet (and
              have to deal with a million frantic phone calls.).
            </p>
            <p class="text-lg">
              And once the filter was in place, it was noisy — generating a ton
              of support tickets because it didn’t play nice with your other
              tools.
            </p>
          </div>
        </div>
      </div>
    </Section>

    <Section>
      <TestimonialCard
        quote='"Zorus is easy to deploy and easy to manage. It doesn’t break your environment, VPNs, Active Directory or custom DNS implementations like traditional DNS filtering. It’s also very cost-effective."'
        avatar={BrianDarcy}
        path="darcy"
        caseStudy="Brian D’Arcy, CMIT Solutions"
        linkText="Read Brian's client success story"
      />
    </Section>

    <Section>
      <Container>
        <h2
          class="text-center mx-auto font-monospace font-semibold text-4xl leading-tight mb-12 lg:max-w-3xl md:leading-tight"
        >
          Zorus Filtering with CyberSight, DNS protection for the modern era
        </h2>
        <GridThreeCols>
          <NeonCorneredCard
            icon={iconDeployUrl}
            heading1="Device-based"
            heading2="filtering"
            text="No DNS changes or reporting required. (Hallelujah!!) Save up to 45 minutes per installation."
          />
          <NeonCorneredCard
            icon={iconSupportUrl}
            heading1="Easy to deploy"
            heading2="and use"
            text="Spend less time learning and managing a new tool — and more time focused on your clients’ success."
          />
          <NeonCorneredCard
            icon={iconClockUrl}
            heading1="Get in."
            heading2="Get out."
            text="Our global policy makes it easy to make mass changes and manage all of your customers at once."
          />
        </GridThreeCols>
      </Container>
    </Section>

    <Section>
      <TestimonialCard
        quote='“Zorus is straightforward and simple. I did my due diligence with WebTitan and I thought I knew it, but there were so many gotchas! Zorus is clean and just works."'
        avatar={LucCole}
        path="/luc-cole"
        caseStudy="Luc Cole, Thatch Computer Consulting"
        linkText="Read Luc's success story"
      />
    </Section>

    <Section>
      <div class="container mx-auto max-w-7xl px-4 md:px-6">
        <div class="flex">
          <div class="w-full lg:w-8/12 col mx-auto text-center">
            <h2
              class="mb-6 font-monospace font-semibold text-4xl leading-tight md:leading-tight break-words"
            >
              Get way more than *just* DNS filtering. Because you’re way more
              than *just* IT support.
            </h2>
          </div>
        </div>
        <div class="flex mb-20 md:mb-12">
          <div class="md:w-11/12 lg:w-7/12 mx-auto text-center space-y-2 mb-10">
            <p class="text-lg">
              Keep clients coming back for more with the insights generated by
              CyberSight.
            </p>
            <p class="text-lg">
              This technology, exclusive to Zorus, analyzes how users spend time
              in thick client and SaaS applications.
            </p>
            <p class="text-lg">
              Use these insights to save clients time, money and stress.
            </p>
          </div>
        </div>
        <div
          class="flex mb-20 md:mb-12"
          data-sal="slide-up"
          data-sal-duration="600"
        >
          <div class="w-full lg:w-6/12 mx-auto">
            <div
              class="flex flex-col md:flex-row text-center md:text-start md:space-x-8 items-center"
            >
              <Image
                src={iconEndpointProtectionUrl}
                alt="icon"
                class="mb-10 md:mb-0"
                width="72"
                height="72"
              />
              <div>
                <h4 class="mb-2 text-2xl font-semibold font-monospace">
                  Protect clients from bad actors
                </h4>
                <p class="text-lg">
                  Get detailed reports you can share with clients about
                  potential breaches and threats. Prove your value by
                  demonstrating the risks they face every day.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div
          class="flex mb-20 md:mb-12"
          data-sal="slide-up"
          data-sal-duration="600"
          data-sal-delay="200"
        >
          <div class="w-full lg:w-6/12 mx-auto">
            <div
              class="flex flex-col md:flex-row text-center md:text-start md:space-x-8 items-center"
            >
              <Image
                src={iconIdentifyUrl}
                alt="icon"
                class="mb-10 md:mb-0"
                width="72"
                height="72"
              />
              <div>
                <h4 class="mb-2 text-2xl font-semibold font-monospace">
                  Keep ‘em in compliance
                </h4>
                <p class="text-lg">
                  Get complete visibility into all of the tech in your client’s
                  environment. Easily spot Shadow IT. Ensure every tool complies
                  with programs like HIPAA, CMMC, etc.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div
          class="flex"
          data-sal="slide-up"
          data-sal-duration="600"
          data-sal-delay="400"
        >
          <div class="w-full lg:w-6/12 mx-auto">
            <div
              class="flex flex-col md:flex-row text-center md:text-start md:space-x-8 items-center"
            >
              <Image
                src={iconRevenueGrowthUrl}
                alt="icon"
                class="mb-10 md:mb-0"
                width="72"
                height="72"
              />
              <div>
                <h4 class="mb-2 text-2xl font-semibold font-monospace">
                  Maximize their tech ROI
                </h4>
                <p class="text-lg">
                  Help clients save money on unnecessary licenses. Show clients
                  which tools are adding to their productivity — and which
                  they’re just wasting money on.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </Section>

    <Section>
      <Container>
        <div class="mx-auto text-center mb-10 md:mb-20">
          <h2
            class="font-monospace font-semibold text-4xl leading-tight md:leading-tight max-w-2xl mx-auto"
          >
            Why MSPs & IT Professionals like you love Zorus
          </h2>
          <div class="h-0.5 max-w-40 bg-[#00f0ff] my-6 mx-auto"></div>
        </div>

        <!--- Part 1 --->
        <div
          class="grid grid-cols-1 md:grid-cols-2 items-center space-y-10 md:space-y-0 md:gap-x-20 pb-20"
        >
          <div class="flex flex-col justify-items-center relative">
            <h2 class="mb-6 font-semibold text-2xl font-monospace max-w-sm">
              Plays nice with the tools you use every day
            </h2>
            <div class="border-l-2 pl-6 border-[#00f0ff] mb-6 md:max-w-lg">
              <p class="text-lg mb-4">
                Say goodbye to the hassles of complex deployment and management.
                Zorus integrates seamlessly with the channel’s top vendors and
                solutions.
              </p>
              <p class="text-lg">
                No more extra configurations. No more DNS changes. No more
                stress. We've simplified security for you, ensuring seamless
                operations and happier clients.
              </p>
            </div>
            <a
              href="/book-a-demo"
              class="text-[#00f0ff] flex items-center gap-x-3 uppercase font-semibold font-monospace hover:bg-transparent hover:gap-4 transition-all duration-200 ease-out"
            >
              DISCOVER ZORUS FILTERING
              <Image
                width="16"
                height="16"
                src={iconArrowRightUrl}
                role="presentation"
                alt="arrow image"
              />
            </a>
          </div>

          <LogosSlider />
        </div>

        <!--- Part 2 --->
        <div class="grid grid-cols-1 md:grid-cols-2 items-center gap-x-20">
          <div class="order-2 md:order-1">
            <img
              loading="lazy"
              src={Globe}
              alt="US based support"
              class="w-full"
            />
          </div>
          <div
            class="flex flex-col justify-items-center relative ml-auto order-1 md:order-2 lg:w-10/12"
          >
            <h2 class="mb-6 font-semibold text-2xl font-monospace">
              Fast, friendly U.S.-based support
            </h2>
            <div class="border-l-2 pl-6 border-[#00f0ff] mb-6 md:max-w-lg">
              <p class="mb-4 text-lg">
                Our U.S.-based support team is always ready to help you quickly
                resolve problems, minimize downtime and keep your clients happy.
              </p>
              <p class="text-lg">
                To quote our favorite Italian restaurant chain, “When you’re
                here, you’re family.”
              </p>
            </div>
            <a
              href="/book-a-demo"
              class="text-[#00f0ff] flex items-center gap-x-3 uppercase font-semibold font-monospace hover:bg-transparent hover:gap-4 transition-all duration-200 ease-out"
            >
              EXPLORE THE PLATFORM
              <Image
                width="16"
                height="16"
                src={iconArrowRightUrl}
                role="presentation"
                alt="arrow image"
              />
            </a>
          </div>
        </div>
      </Container>
    </Section>

    <Section className="overflow-visible relative !py-0">
      <ArrowDivider className="-scale-x-100 ml-auto -left-5" />
    </Section>

    <Section>
      <TestimonialCard
        quote='“Zorus support people are always a pleasure to work with. It’s not like that with the big software players. With Zorus, if I open a ticket, they’re on it."'
        avatar={SeanLange}
        path="/sean"
        caseStudy="Sean Lange, Spidernet Solutions"
        linkText="Read Sean’s client success story"
      />
    </Section>

    <Section>
      <Container>
        <!--- Part 1 --->
        <div
          class="grid grid-cols-1 md:grid-cols-2 items-center gap-y-10 md:gap-y-0 md:gap-x-20 pb-20"
        >
          <div class="flex flex-col justify-items-center relative">
            <h2 class="mb-6 font-semibold text-2xl font-monospace max-w-sm">
              Brandable block pages, portal and more
            </h2>
            <div class="border-l-2 pl-6 border-[#00f0ff] mb-6 md:max-w-lg">
              <p class="text-lg mb-4">
                Your clients are yours. We make it easy to white-label our block
                pages, portal and more to fit your brand.
              </p>
              <p class="text-lg">Your clients will never know we’re here.</p>
            </div>
            <a
              href="/book-a-demo"
              class="text-[#00f0ff] flex items-center gap-x-3 uppercase font-semibold font-monospace hover:bg-transparent hover:gap-4 transition-all duration-200 ease-out"
            >
              DISCOVER ZORUS FILTERING
              <Image
                width="16"
                height="16"
                src={iconArrowRightUrl}
                role="presentation"
                alt="arrow image"
              />
            </a>
          </div>
          <div>
            <!-- <div
              class="rounded-lg w-48 bg-gradient-to-b from-[--logo-blue] to-[--logo-purple] p-px"
            >
              <div
                class="flex flex-col gap-y-4 rounded-lg bg-gradient-to-b from-[#272C30] to-[#1E2226] p-5"
              >
                <p class="font-medium text-white">Custom logo</p>
                <img class="h-10 w-auto" src={LogoWhite} alt="Zorus logo" />
                <div class="space-y-2">
                  <div class="flex gap-x-2">
                    <div class="p-4 border border-blue-600 rounded-sm"></div>
                  </div>
                  <p class="text-[8px]">
                    Currently set at the partner account level
                  </p>
                </div>
              </div>
            </div> -->
            <Image
              src={WhiteLabelDashboard}
              alt="dashboard screenshot"
              class="w-full"
            />
          </div>
        </div>

        <!--- Part 2 --->
        <div
          class="grid grid-cols-1 md:grid-cols-2 items-center gap-y-10 md:gap-y-0 md:gap-x-20 pt-0 pb-20 md:py-20"
        >
          <div class="order-2 md:order-1">
            <Image
              src={WhiteLabelDashboard}
              alt="dashboard screenshot"
              class="w-full"
            />
          </div>
          <div
            class="flex flex-col justify-items-center relative ml-auto order-1 md:order-2"
          >
            <h2 class="mb-6 font-semibold text-2xl font-monospace">
              Tools to promote YOUR business
            </h2>
            <div class="border-l-2 pl-6 border-[#00f0ff] mb-6 md:max-w-lg">
              <p class="text-lg mb-4 md:max-w-lg">
                You’ll get a ton of flyers, presentations and other marketing
                materials you can customize to highlight your value to
                customers.
              </p>
              <p class="text-lg">
                Save time and stress attracting new customers and keep current
                ones coming back for more.
              </p>
            </div>
            <a
              href="/book-a-demo"
              class="text-[#00f0ff] flex items-center gap-x-3 uppercase font-semibold font-monospace hover:bg-transparent hover:gap-4 transition-all duration-200 ease-out"
            >
              LEARN MORE
              <Image
                width="16"
                height="16"
                src={iconArrowRightUrl}
                role="presentation"
                alt="arrow image"
              />
            </a>
          </div>
        </div>

        <!--- Part 3 --->
        <div
          class="grid grid-cols-1 md:grid-cols-2 items-center gap-y-10 md:gap-y-0 md:gap-x-20 pt-0 md:py-20"
        >
          <div class="flex flex-col justify-items-center relative">
            <h2 class="mb-6 font-semibold text-2xl font-monospace max-w-lg">
              Leaders, developers and engineers who care (for real)
            </h2>
            <div class="border-l-2 pl-6 border-[#00f0ff] mb-6 md:max-w-lg">
              <p class="text-lg md:max-w-lg mb-4">
                We are constantly looking for ways to better serve you and your
                customers.
              </p>
              <p class="text-lg md:max-w-lg">
                Our partners have direct access to our product and leadership
                team. Bring us your problems.We’ll try and build the solutions.
              </p>
            </div>
            <a
              href="/book-a-demo"
              class="text-[#00f0ff] flex items-center gap-x-3 uppercase font-semibold font-monospace hover:bg-transparent hover:gap-4 transition-all duration-200 ease-out"
              >DISCOVER CYBERSIGHT
              <Image
                width="16"
                height="16"
                src={iconArrowRightUrl}
                role="presentation"
                alt="arrow image"
              />
            </a>
          </div>
          <div>
            <Image src={ZorusFamily} alt="integrations" class="w-full" />
          </div>
        </div>
      </Container>
    </Section>

    <Section className="overflow-visible !py-0">
      <ArrowDivider className="mr-auto -right-5" />
    </Section>

    <Section>
      <TestimonialCard
        quote='"Zorus is the kind of vendor that is really your partner. They’re there to help you."'
        avatar={LisaNiekamp}
        path="/lisa"
        caseStudy="Lisa Niekamp-Urwin, Tomorrow’s Technology Today"
        linkText="Read Lisa's client success story"
      />
    </Section>

    <Section>
      <YoutubeTestimonial />
    </Section>

    <AsideCTA />
  </Main>
  <Footer />
</Layout>
