---
import Image from "astro/components/Image.astro";

const { image, name, title, linkedInUrl, awards } = Astro.props;

import LinkedInUrl from "../assets/icon--linkedin.svg?url";
---

<div class="w-full">
  <div class="flex flex-col flex-start gap-y-4">
    <Image src={image} alt="Brett Cheloff" class="mb-6" />
    <h3 class="font-semibold font-monospace text-2xl">{name}</h3>
    <div class="border-l-2 pl-6 border-[#00f0ff]">
      <p class="text-lg">{title}</p>
    </div>
    <a target="_blank" rel="noopener" href={linkedInUrl} class="w-10 h-10">
      <Image src={LinkedInUrl} alt="Linkedin" height="40" width="40" />
    </a>
    {
      awards && (
        <Image
          src={awards}
          alt="CRN Channel Chiefs Award 2025"
          class="w-full"
        />
      )
    }
  </div>
</div>
